<%- layout('/layout/boilerplate.ejs') %>

<div class="row">
    <h1 class="mb-4 text-center">What are you waiting for?<br><b>Sign Up Now</b></h1>
    <div class="col-6 offset-3">
        <form action="/register" method="POST" class="mb-3  validated-form" novalidate>
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" id="username" name="username" required class="form-control" placeholder="Username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" name="password" required class="form-control" min="8" placeholder="Password">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" id="email" name="email" required class="form-control" placeholder="Email">
            </div>
            <button class="btn btn-success mb-3 center-align">Sign Up</button>
        </form>
    </div>
</div>